.AQ{
    display: flexbox;
    font-size: 15px;
    color:red;
    flex-direction: row;
    float: center;
    text-align: center;

}
.AQ:nth-child(1){
    flex:auto;
}
.AQ:nth-child(2){
    flex:auto;
}
.AQ:nth-child(3){
    flex:auto;
}
